---
layout: default
title: Home | People at Hot Dogs and Eggs
---
 
 <div class="rasheedwallace" style="padding: 1em">
  <h3><a href="http://people.hotdogsandeggs.com/list">Check the Archives</a></h3>
  </div>
 
 
 {% for post in site.related_posts limit: 1 %}
     <div class="rasheedwallace">
     <a href ="{{ post.url }}" class="titles">{{ post.title }}</a>
                     <p class="spoke">{{ post.preview }}</p>
                   <h2><a href="{{ post.url }}">{{ post.link }}</a></h2>
                               </div>
       <div class="rasheedwallace words">
{% for post in site.posts %}
  <ul style="list-style: none;">
  <li><a href="{{ post.url }}">{{ post.title }} - {{ post.link}}</a> </li>
  </ul>
     {% endfor %}
 

      </div>
  
  

